<div class="add-site">

  <div class="add-new-site-wrapper">
  
    <h3>Add new site to track events</h3>
  
    <form appAuthFormDisplay [formGroup]="profileForm" (ngSubmit)="onAddNewSite()">
  
      <div appFormItem class='form-item'>
        <label for="name">Enter path to the site</label>
        <input id="name" type="text" formControlName="name">
      </div>
      
      <div appFormItem class='form-error'>
        <div></div>
        <div class='form-error-placeholder' *ngIf='!f.name.touched'>
          path to the site
        </div>
        <div class='form-error-correct-placeholder' *ngIf='!f.name.errors && f.name.touched'>
          Site conditions are fulfilled
        </div>
        <div *ngIf='f.name.errors && f.name.touched'>
          <div *ngIf='f.name.errors?.required'>
            Email is required
          </div>
          <div *ngIf='f.name.errors?.pattern'>
            Email must be valid
          </div>
        </div>
      </div>
      <button appBtnDirective type="submit" [disabled]="!profileForm.valid">Add</button>
    </form>
    
  </div>

  <div class = 'sites'>
    
    <h3>Sites you are already tracking</h3>
    
    <div class='' *ngIf='sites && sites.length === 0'>
      <h4>Start with adding your first site for listening </h4>
    </div>

    <ul *ngFor="let site of sites; let idx = index">

      <li>
        <span (click)='initChangeMode($event, idx)'>{{site.address}}</span>
        <span class='close-icon' (click)='onDeleteClick(site)'>&#x2715;</span>
        <div *ngIf='idx === checkedSite'>
          <span>new value: </span>
          <input autofocus type="text" value='{{site.address}}' (input)='changeSiteValue($event)' (blur)='onBlur($event, idx)'>
        </div>
      </li>

    </ul>

  </div>
</div>