.header-wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.main-menu-nav {
  display: flex;
}

.nav-button {
  height: 20px;
  background-color: #777;
  margin: 5px;
  padding: 3px;
  border: 1px solid #888;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #555;
  transition: 0.5s ease;
}

.nav-button:active {
  background-color: #111;
}

.nav-logo {
  text-decoration: none;
}