.header-wrapper {
  min-height: calc(10vh - 1px);
}

.main-menu {
  display: flex;
  justify-content: space-between;
  background: #ee6e73;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

nav {
  padding: 0 20px;
  box-shadow: none;
}

.main-menu-nav {
  display: flex;
}

.nav-button {
  height: 20px;
  background-color: #777;
  margin: 5px;
  padding: 3px;
  border: 1px solid #888;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #555;
  transition: 0.5s ease;
}

.nav-button:active {
  background-color: #111;
}
