<div class="modal-wrapper" #modalWrapper (click)="clickOnWrapper($event)">
  <div class="modal-container">
   <h3>Change site params</h3>
    <form [formGroup]="profileForm" (ngSubmit)="applyChanges()">

      <div>
        <span>Site address</span>
        <input 
          type="text"
          formControlName="address">

        <ul>
          <li *ngFor="let event of changedEventsList">
            <span>{{event}}</span>
            <span (click)="deleteEvent($event)">&#x2715;</span>
          </li>
        </ul>
      </div>

      <div>
        <span>Add new events</span>
        <select name="" id="" (change)="addNewEvent($event)">
          <option disabled >select event</option>
          <option *ngFor="let action of actionsList" value={{action}}>{{action}}</option>
        </select>
      </div>

      <button type="submit" [disabled]="!profileForm.valid">Apply changes</button>
      <button (click)="close($event)">Cancel</button>

    </form>
  </div>
</div>