<div class="modal-wrapper" (click)="close($event)">
  <div class="modal-container">
    <h3>Change site params</h3>
    <form [formGroup]="profileForm" (ngSubmit)="applyChanges()">

      <div>
        <span>Site address</span>
        <input 
          type="text"
          (input)="change($event.target.value)"
          formControlName="address">

        <ul>
          <li *ngFor="let event of eventList">
            <span>{{event}}</span>
            <span (click)="deleteEvent($event)">&#x2715;</span>
          </li>
        </ul>
      </div>

      <button type="submit">Apply changes</button>

    </form>
  </div>
</div>