<div class="modal-wrapper" (click)="close($event)">
  <div class="modal-container">
    <h3>Change site params</h3>
    <form [formGroup]="profileForm" (ngSubmit)="applyChanges()">

      <div>
        <span>Site address</span>
        <input 
          type="text"
          (input)="change($event.target.value)"
          formControlName="address">

        <ul>
          <li *ngFor="let event of submittedEventList">
            <span>{{event}}</span>
            <span (click)="deleteAction($event)">&#x2715;</span>
          </li>
        </ul>
      </div>

      <div>
        <span>Add new events</span>
        <select name="" id="" (change)="selectNewEvent($event)">
          <option disabled >select event</option>
          <option *ngFor="let action of actionsList" value={{action}}>{{action}}</option>
        </select>
      </div>

      <button type="submit">Apply changes</button>

    </form>
  </div>
</div>