<p>login works!</p>

<form appAuthFormDisplay [formGroup]="profileForm" (ngSubmit)="onLogin()">

  <div appFormItem class='form-item'>
    <input id="email" type="email" formControlName="email">
  </div>
  
  <div appFormItem class='form-error'>
    <div></div>
    <div class='form-error-placeholder' *ngIf='!f.email.touched'>
      Enter email
    </div>
    <div class='form-error-correct-placeholder' *ngIf='!f.email.errors && f.email.touched'>
      Email conditions are fulfilled
    </div>
    <div *ngIf='f.email.errors && f.email.touched'>
      <div *ngIf='f.email.errors?.required'>
        Email is required
      </div>
      <div *ngIf='f.email.errors?.pattern'>
        Email must be valid
      </div>
    </div>
  </div>

  <div appFormItem class='form-item'>
    <input id="password" type="password" formControlName="password">
  </div>

  <div appFormItem class='form-error'>
    <div></div>
    <div class='form-error-placeholder' *ngIf='!f.password.touched'>
      Enter password
    </div>
    <div class='form-error-correct-placeholder' *ngIf='!f.password.errors && f.password.touched'>
      Password conditions are fulfilled
    </div>
    <div *ngIf='f.password.errors && f.password.touched'>
      <div *ngIf='f.password.errors?.required'>
        Password is required
      </div>
      <div *ngIf='f.password.errors?.minlength'>
        Password must contain min 6 characters
      </div>
    </div>
  </div>

  <div class='auth-action-btn-wrapper'>
    <button appBtnDirective type="submit" [disabled]="!profileForm.valid">Login</button>
    <!-- TODO: replace btn with commented  -->
    <!-- <button class="auth-action-btn" type="submit" [disabled]="!profileForm.valid">Login</button> -->
  </div>

</form>
