<p>
  register works!
</p>

<form [formGroup]="profileForm" (ngSubmit)="profileForm.valid && onSubmit()">

  <div appFormItem class='form-item'>
    <label for="firstName">
      First name:
    </label>
    <input id="firstName" type="text" formControlName="firstName" />
  </div>

  <div appFormItem class='form-error'>
    <div></div>
    <div *ngIf="submitClicked; else firstNameTmpl">
      <div *ngIf="f.firstName.errors; else firstNameCorrectTmpl">
        <div *ngIf="f.firstName.errors.required">
          first name is required
        </div>
        <div *ngIf="f.firstName.errors.minlength" >
          name must contain min 6 characters
        </div>
      </div>
    </div>

    <ng-template #firstNameTmpl>
      <div class='form-error-placehlder'>
        Enter first name here
      </div>
    </ng-template>

    <ng-template #firstNameCorrectTmpl>
      <div class='form-error-correct-placehlder'>
        Correct first name
      </div>
    </ng-template>
  </div>

  <div appFormItem class='form-item'>
    <label for="lastName">
      Last name:
    </label>
    <input id="lastName" type="text" id="lastName" formControlName="lastName" />
  </div>

  <div appFormItem class='form-error'>
    <div></div>
    <div *ngIf="submitClicked; else lastNameTmpl">
      <div *ngIf="f.lastName.errors; else lastNameCorrectTmpl">
        <div *ngIf="f.lastName.errors.required">
          last name is required
        </div>
        <div *ngIf="f.lastName.errors.minlength" >
          name must contain min 6 characters
        </div>
      </div>
    </div>

    <ng-template #lastNameTmpl>
      <div class='form-error-placehlder'>
        Enter last name here
      </div>
    </ng-template>

    <ng-template #lastNameCorrectTmpl>
      <div class='form-error-correct-placehlder'>
        Correct last name
      </div>
    </ng-template>
  </div>

  <div appFormItem class='form-item'>
    <label for="email">
      Email:
    </label>
    <input id="email" type="email" formControlName="email" />
  </div>

  <div appFormItem class='form-error'>
      <div></div>
      <div *ngIf="submitClicked; else emailTmpl">
        <div *ngIf="f.email.errors; else emailCorrectTmpl">
          <div *ngIf="f.email.errors.required">
            email is required
          </div>
          <div *ngIf="f.email.errors.pattern" >
            not valid emails
          </div>
        </div>
      </div>
  
      <ng-template #emailTmpl>
        <div class='form-error-placehlder'>
          Enter email here
        </div>
      </ng-template>
  
      <ng-template #emailCorrectTmpl>
        <div class='form-error-correct-placehlder'>
          Correct email
        </div>
      </ng-template>
    </div>

  <div class='auth-action-btn-wrapper'>
    <button (click)='ngOnInit()'>reset</button>
    <button class="auth-action-btn" type="submit" (click)='onClickSubmitBtn()'>Submit</button>
  </div>

</form>
  