.analize-page-header {
  text-align: center;
}

.select-wrapper h4 {
  text-align: center;
  background-color: rgb(27, 154, 98)
}

.select-component {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 500px;
}

select {
  display: inline;
}

.analize-page-check-page-btn {
  background-color: rgb(100, 100, 100);
  cursor: pointer;
  margin: 3px;
  padding: 3px;
  text-align: center;
}

.analize-page-check-page-btn:hover {
  background-color: rgb(70, 70, 70);
}